html {
 background-image: url("blank-black-corporate-stationery-on-600nw-1051434977\ \(1\).webp");
 background-size: cover;
 background-position: center; /* Optional: Center the image horizontally and vertically */
 background-repeat: no-repeat;
 background-attachment: fixed;
 overflow-x: hidden;
} 
.header{

    padding: 50px;
    display:grid;
    grid-template-columns: auto auto auto auto;
    transition: all .6s ease;

}

hr {
    border:none;
    width:400px;
    height:5px;
    background-color: #E6E6FA;
    border-radius: 10px;
    margin-bottom: 20px;
}



.menu{
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%; 
    background-color: #E6E6FA;
    padding:10px;
    z-index:9999;


}
.menu a{
    display: block;
    font-size: 22px;
    font-weight: 300;
    color:#000000;
    transition: all .6s ease;
    background-color: #E6E6FA;
    text-decoration: none;
}
.menu a:hover{
    background-color:#CBC3E3;
    padding: 10px;
}



.welcome{
text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 50px;
color: #E6E6FA;
padding: 25px;
}
.intro{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #E6E6FA;
    margin-bottom: 220px;

}
a{
    color:#000000;
}
.heading {
    text-align: center;
    width:100%;
}
  
.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
}
  
.star1, .star2 {
    flex: 0 0 auto; 
    padding:none;
    margin-left: -100px;
}
.star1 img, .star2 img {
    width: 30%; 
    height: auto;
    padding:none;

  
h1 {
    flex: 0 1 auto; 
    text-align: center; 
    margin: 0 20px; 
}
}




/*About Me section*/
.aboutme{
    background-color:#000000;
    
}
.aboutme h2{
    color:#E6E6FA;
    font-size:25px;
    font-family: 'Lucida Handwriting';
    padding:20px;
}
.abo{
    display: flex;
}

.abo .slideshow-container {
    flex: 1;
}

.abo .abo-text {
    flex: 1;
    padding: 20px;
}

.abo p{
    color:#E6E6FA;
    font-size:23px;
    font-family: "Space Mono", monospace;
    padding:30px;
    text-align: center;
}
.slideshow-container {
    position: relative;
    margin: auto;
  }
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.mySlides {
    display: none;
    padding-left: 7%;
}

.dot {
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #fff;
    border-radius: 20%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  

.active {
    background-color: #717171;
  }
.fade {
    animation-name: fade;
    animation-duration: 1.7s;
}
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
    }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
    }


.myimg{
    position: relative;
}
.heading hr {
    border:none;
    width:250px;
    height:5px;
    background-color: #E6E6FA;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* My skills and education*/
.white-background{
    background-color: rgba(255,255,255,.4);
    position:relative;
    margin-top: 20px;
}
.centered{
    position:relative;
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Handwriting';
    padding: 30px;
    
}
.middleSen{
    text-align: center;
    font-family: "Space Mono", monospace;
    font-size: 20px;
    padding: 20px;
   
}
.imgone{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}
.projects-grid{
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    padding: 5px;
    background-color: none;
}
.grid-item{
    background-color: #E6E6FA;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 30px;
    text-align: center;

}
.img4{
    width:200px;
    height:175px;
    
    
}
.img5{
    width:200px;
    height: 175px;
    
}
.img6{
    width: 200px;
    height: 195;
}
footer{
    color:#E6E6FA;
    font-size:20px;
    padding: 20px;
    text-align: center;
    
}
.projects-title{
    position:relative;
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Handwriting';
    padding: 30px;

}

/* contact page*/
.contact-title{
    position:relative;
    text-align: center;
    font-size: 40px;
    font-family: 'Lucida Handwriting';
    padding-top: 60px;
    color: #fff;
    
}
.img7{
    width: 20px;
    height: 20px;
   
}
.contact-container{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-self: space-evenly ;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    padding: 150px;
}
.contact-left-title h2{
    font-weight: 600;
    color:#E6E6FA;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border:none;
    width:150px;
    height:5px;
    background-color: #E6E6FA;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width:400px;
    height: 50px;
    border:none;
    outline: none;
    padding-left:25px;
    font-weight: 500;
    border-radius: 50px;
    color: #808080;
}
.contact-left textarea{
    height:140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 4px solid #DA70D6;
}
.contact-inputs::placeholder{
    color: #808080;
}
.contact-left button{
    display:flex;
    align-items: center;
    padding:15px 30px;
    font-size: 16px;
    color: #000000;
    gap:10px;
    border:none;
    border-radius: 50px;
    background: linear-gradient(270deg,#CF9FFF,#E6E6FA);
    cursor: pointer;

}
.contact-right img{
    width: 300px;
}
.contact-right p {
    font-size: 175%;
    font-family: 'Lucida Handwriting' ;
    color:#fff;

}
.contact-right a {
    position: relative;
    z-index: 1;
}
#githubimg{
    width: 10%;
    height: 10%;
    margin-left: 45%;
}
.references h3 {
    text-align: center;
    color:#fff;
}
.references p{
    color:#fff;

}